<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mybatis" class="demo.service.MyBatis"/>
    <bean id="jdbc" class="demo.service.Jdbc"/>
    <bean id="userService" class="demo.service.UserService">
        <property name="userDao" ref="mybatis"/>
    </bean>
</beans>